.ytp-ad-module { display: none !important; }
.video-ads { display: none !important; }
.ytp-ad-overlay-container { display: none !important; }
.ytp-ad-player-overlay { display: none !important; }
.ytp-ad-image-overlay { display: none !important; }
.ytp-ad-overlay-slot { display: none !important; }
.ytp-ad-skip-button-container { display: none !important; }
.ytp-ad-progress-list { display: none !important; }
#player-ads { display: none !important; }
ytd-promoted-sparkles-web-renderer { display: none !important; }
ytd-player-legacy-desktop-watch-ads-renderer { display: none !important; }
ytd-display-ad-renderer { display: none !important; }
ytd-promoted-video-renderer { display: none !important; }
ytd-companion-slot-renderer { display: none !important; }
ytd-in-feed-ad-layout-renderer { display: none !important; }
ytd-ad-slot-renderer { display: none !important; }
ytd-action-companion-ad-renderer { display: none !important; }
ytd-search-pyv-renderer { display: none !important; }
ytd-promoted-sparkles-text-search-renderer { display: none !important; }
